*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: $Poppins;
    color: $DarkBlueGray;
}

body{
    margin-top: 2vh;
    background-image: url("../img/wave.svg");
    background-repeat: no-repeat;
    background-position: top right;
}