.columnDirection{
        flex-direction: column;
}

.purple{
        color: $Purple;
}

.price{
        font-family: $Poppins;
        font-size: 1.9rem;
        color: $Blue;
        font-weight: 600;
    }