$White: #FFFFFF;
$DarkBlueGray: #42495B;
$LightGray: #7A839E;
$Blue: #1000FF;
$BluePurple : #eceafe;
$Purple: #7E76F9;

$Gradient: linear-gradient(-90deg, #6156F9 8%, #1A129F 46%);


$Poppins: 'Poppins', sans-serif;
$Lato: 'Lato', sans-serif;

$xl: 5%;
$xxl: 5%;

$PaddingXL: 0.7rem 1.5rem;
$PaddingL: 0.2rem 0.7rem;

$MarginLeftS: 5%;